 <div [style.background]="fondo_color" >

  <div [style.color]="letra_color">

    <h1>Bienvenido al {{ title }}</h1>

    <p>{{ descripcion }}</p>
    <button (click)="ocultarVideojuego( false)" *ngIf="mostaraVideojuego">Ocultar V </button>
    <button (click)="ocultarVideojuego( true)" *ngIf="!mostaraVideojuego">Mostar V</button>

    <!-- <videojuego *ngIf="mostaraVideojuego"></videojuego> -->

    <zapatillas ></zapatillas>

    <cursos> </cursos>



  </div>

</div>

<router-outlet></router-outlet>
